.button {
  font-size: 16px;
  padding: 12px 10px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid;
  font-weight: 400;
}

.button:hover {
  color: #ffffff;
  background-color: #1E1E24;
  transition: .3s ease-in-out;
}

@media (max-width: 600px) {
  .button {
    width: 100%;
  }
}