.button {
  font-size: 16px;
  padding: 15px 20px;
  line-height: 1.37em;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid;
  font-weight: 400;
}

.button:hover {
  color: #ffffff;
  background-color: #1E1E24;
  transition: .3s ease-in-out;
}

.about {
  transform: translateY(-500px);
  opacity: 0;
}